.am-col-12{
  width: 620px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /*background: grey;*/
  font-size: 12px;
  font-family: 'Open Sans', lucida grande, Verdana, Arial, Tahoma, Helvetica;
  line-height: 1.8em;
  text-align: justify;
}

a, a:hover, a:visited{color: blue;}

.top-banner{
  background-color: #ffffcc;
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  padding: 4px;
  margin-bottom: 5px;
}

.am-image-div{
  width: 300px;
  height: 250px;
  float: left;
  margin: 0px 10px 20px 0px;
}

.am-image-div-big{
  width: 100%;  
  float: left;
  margin-bottom: 50px;
}

.am-thumbnail{
  width: 300px;
  margin: 5px 0px;
  box-shadow: rgb(204, 204, 204) 1px 1px 5px;
}

.am-thumbnail-big{
  width: 100%;
  margin: 5px 0px;
  box-shadow: rgb(204, 204, 204) 1px 1px 5px;
}

.clearfix{
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

@media screen and (max-width: 480px) {
    .am-col-12 {
        width: 90%;
    }
}

